html, body {
    margin: 0;
    height: 100%;
}

.header-container {
    display: flex;
    justify-content: space-between;
    color: white;
}

.links-container{
    display: flex;
    padding: 20px;
    flex-basis: 30%;
    justify-content: space-between;
}

.links-container a {
    padding-right: 20px;
}

.header-container img {
    width: 75px;
    height: 75px;
}

.website-info-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 400px;
    background-color: #1F2937;
}

.info-container {
    display:flex;
    flex-direction: row; 
    color: #E5E7EB;
    justify-content: space-between;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.image-placeholder {
    box-sizing: border-box;
    display: flex;
    background-color: antiquewhite;
    flex: 1;
    justify-content: center;
    align-items: center;
    width: 40%;
    
}

.left-box {
    box-sizing: border-box;
    display: flex;
    flex: 1;
    padding-right: 60px;
    flex-direction: column;
    width: 40%;
}

.quote-container {
    background-color: #3f3f3f3b;
}

.information-container { 
    box-sizing: border-box;
    width: 600px;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    color: #E5E7EB;
    height: 50px;
}

.info-wrapper {
    display: flex;
    justify-content: center;
}

.top-signup-button {
    display: block;
    width: 75px;
    border: 1px;
    border-radius: 4px;
    height: 35px;

}

.top-signup-button:hover {
    background-color: beige;
}

.second-section-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 350px;
    background-color: whitesmoke;

}

.image-information {
    display: flex;
    justify-content: space-between;
}

.pepe {
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}


.pepe p {
    flex: 2 1;
}

.imgage{
    align-content: center;
    border-radius: 15px;
    border:3px,solid,rgb(112, 112, 224);
    height: 100px;
    width: 100px;
    
}

.quote-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E7EB;
    height: 350px;
}


.quote-flex-wrapper {
    height: 50%;
    display: flex;
    flex-direction: column;
}

.quote {
    box-sizing: border-box;
    font-size: 36px;
    font-weight: 900;
    font-size: large;
    font-family: hand;
    align-content: end;
}

.quote-name {
    color: rgb(216, 56, 56);
    align-self: end;
    margin-top: 0px;
    padding-right: 20px;
}

.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 250px;
}

.signup-wrapper {
    display: flex;
    justify-content: center;
    height: 125px;
    width: 800px;
    border: 2px;
    border-radius: 10px;
    background-color: #3882F6;
}

.sign-up-box {
    display: flex;
}

.action-text {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
    padding-right: 20px;
}

.sign-up-text {
}

.bottom-signup-button {
    border: 1px;
    border-radius: 4px;
    height: 35px;
    align-self: center;
}

.bottom-signup-button:hover {
    background-color: beige;
}